<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/error.css' />
    </head>
    <img class="errorImage" src="/images/pacman.gif" />
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</html>
