<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/error.css' />
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>
  <body>
    <div class="errorCover">
      <img class="errorImage" src="/images/logo.svg" />
      <div class="errorMessage"><%= message %></div>
      <% if (error.status !== 404) { %>
        <div><%= error.stack %></div>
      <% } %>
      <button><a href="/">Back to main</button>
    </span>
  </body>
</html>
