body {
  padding: 50px 0;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(202, 200, 200, 0.6);
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-size: 1.3rem;
  background-color: yellowgreen;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.errorCover {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 400px;
  padding: 50px;
  box-shadow: 2px 2px 5px gray;
}

.errorImage {
  width: 200px;
  height: 200px;
}

.errorMessage {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
}
