body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.tabs > li {
  display: inline-block;
  margin: 0 10px;
}

.problems > li {
  width: 150px;
  margin: 10px 0;
}
