body {
    padding: 50px 0;
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgba(202, 200, 200, 0.6);
}

a {
    text-decoration: none;
}

.successContainer {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    padding: 30px;
}
